.main {
    @apply text-center italic;
}

.youtube_embed {
    @apply text-center mt-10;
    max-width: 100%;
}

.youtube_embed iframe {
    width: 700px;
    height: 400px;
    max-width: 100%;
}


@media only screen
    and (max-device-width: 450px) {
        .youtube_embed iframe {
            height: 200px;
        }
    }